 .principal{
    background:darkgrey;
    margin:auto;
}
.centro{
    width: 70%;
    margin:auto;
    padding: 0%;
}
.centro .tabs{ 
    width: 100%;
    font-size: 120%;
    margin: 0%;
    padding: 0%;
    display: flex;
}
.centro .tabs a{
    width: 25%;
    background: black;
    margin:0%;
    padding:1% 0%;
    list-style:none;
    text-align: center;
    color: gray;
}
.centro .tabs a:hover{
    background: rgb(250, 35, 35);
    color:darkblue;
}
a{text-decoration: none;}

header{
    margin:auto;
    font-size: 500%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    text-align: center;
}
.transparente{
    color:transparent;
    background: transparent;
}
.parrafo{
    margin: 0%;
    padding: 0 0 0 5%;
    background: rgb(250, 35, 35);
}
.parrafo form{
    font-size: 200%;
}
.parrafo form input{
    font-size: 100%;
    background-color: gray;
}
.error{
    color: white;
    font-size: 15px;
    font-family: monospace;
}
.parrafo .boton{
    background-color: darkblue;
    color:gray;
    font-size: 100%;
    border-color: darkblue;
}.parrafo .boton:hover{
    background-color: gray;
    color:darkblue;
}
.costado{
    width: 90%;
    margin:5% 5%;
    display: flex;
    padding: 0%;
}
.costado .disponibles{
    font-size: 120%;
    margin: 0%;
    width: 20%;
    background: black;
    padding: 0%;
}
.costado .disponibles a{
    float: left;
    width: 100%;
    margin: 0%;
    padding: 5% 0%;
    color: gray;
    text-align: center;
}
.costado .disponibles a:hover{
    background: rgb(250, 35, 35);
    color:darkblue;
}
.costado .mostrar{
    width: 75%;
    height: 100%;
    padding: 5% 0% 0% 5%;
    background: rgb(250, 35, 35);
}
.costado .mostrar button{
    background-color: darkblue;
    font-size: 200%;
    border-color: darkblue;
    color: gray;
    padding: 0%;
}
.costado .mostrar a{
    color: gray;
    font-style: none;
}
.costado .mostrar a:hover{
    color:darkblue;
}
.costado .mostrar button:hover{
    background-color: gray;
}
