:root{
    --colorDeFondoGeneral:
    rgb(211, 211, 211);
    ;
    --colorDeFormularioIniciarSesion:
    rgb(94, 94, 255)
    ;
}
.fondoGeneral{
    background:var(--colorDeFondoGeneral);
}
.textoINEGAS{
    font-size:500%;
    font-family:Georgia,'Times New Roman',Times,serif;
    color: darkblue;
    text-align:center;
}
.formIniciarSesion{
    width:70%;
    margin:1%auto;
    background-color:var(--colorDeFormularioIniciarSesion);
    padding:1%5%;
}
.formIniciarSesion label{
    font-size:200%;
}
.formIniciarSesion input{
    font-size: 100%;
    background-color: var(--colorDeFondoGeneral);
}
.formIniciarSesion button{
    width: 40%;
    padding: 2%0%;
    background-color: gray;
    font-size: 75%;
    color:black;
    border-style: ridge;
    border-color: black;
}
.formIniciarSesion button:hover{
    background-color:rgb(100, 100, 100);
}

.formIniciarSesion .disponibles{
    font-size: 120%;
    margin: 0%;
    width: 20%;
    background: black;
    padding: 0%;
}
.formIniciarSesion .disponibles a{
    float: left;
    width: 100%;
    margin: 0%;
    padding: 5% 0%;
    /* color: gray; */
    color:white;
    text-align: center;
}
.formIniciarSesion .disponibles a:hover{
    /* color:darkblue; */
    color:rgb(94, 94, 255);
}
.formIniciarSesion .mostrar{
    width: 75%;
    height: 100%;
    padding: 0% 0% 0% 5%;
    /* background: rgb(250, 35, 35); */
    background-color: rgb(94, 94, 255);
}
.formIniciarSesion .mostrar a{
    /* color:rgb(211, 211, 211); */
    color:white;
    font-style: none;
}
.formIniciarSesion .mostrar a:hover{
    color:darkblue; 
}
.boton{
    background-color: darkblue;
    font-size: 200%;
    padding: 0%;
}
.boton:hover{
    background-color: rgb(211, 211, 211);
}
.botonRegular{
    background-color: darkblue;
    font-size: 100%;
    border-color: darkblue;
    /* color: rgb(211, 211, 211); */
    color:white;
    padding: 0%;
}
.botonRegular:hover{
    background-color: rgb(211, 211, 211);
    color:darkblue;
}
















.error{
    color: rgb(211, 0, 0);
    font-size: 75%;
    font-family: monospace;
}
a{
    text-decoration: none;
}